.container {
    display: flex;
    flex-wrap: wrap;
}

.sub {
    background-color: rgb(245, 248, 250);
    width: 36%;
    margin: 1% 4%;
    padding: 3%;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  
}

.link {
    font-size: 23px;
    float: right;
    color: rgb(37, 41, 30);
    text-decoration: none;
}

.link:hover {
    color: #df2d2d;
    text-decoration: underline;
}

span {
    font-size: 20px;
    font-weight: 400;
    color: blueviolet;
}

@media screen and (max-width: 800px) {
    .sub {
        width: 100%
    }
}