<h1><a href="/">Return to home page</a></h1>


<h3>Engineer-sign : <img src="{{object.engineersign}}" style="cursor: pointer; border: 1px solid rgb(199, 200, 201); height: 150px; width: 300px; border-radius: 5px;"></h3>




<h3>CUSTOMER Name : {{object.CUSTOMER}}</h3>



<h3>STORE : {{object.STORE}}</h3>
<h3>STORE No : {{object.STORE_NO}}</h3>
<h3>manager-sign :
<img src="{{object.managersign}}" style="cursor: pointer; border: 1px solid rgb(199, 200, 201); height: 150px; width: 300px; border-radius: 5px;"></h3><br/>

